Self/Storelocator/etc/sms.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="config">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element maxOccurs="unbounded" minOccurs="0" name="template" type="templateType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType type="templateType">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="label" type="xs:string"/>
			<xs:element name="file" type="xs:string"/>
			<xs:element name="module" type="xs:string"/>
			<xs:element name="area" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
